:root {
    --font-size: 19px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;

    font-size: var(--font-size);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.title {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.title a {
    margin-left: 20px;
    text-decoration: none;
    color: blue;
    margin-bottom: 2px;
}

.title div {
    font-size: 26px;
}

.container {
    padding: 10px;
    position: relative;
    margin: 0 auto;
    width : 1200px;
    height: 100%;
}

.content-container {
    position: relative;
    display: flex;
    justify-items: center;
    height: 80%;
}

.content-container > div {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-container {
    flex: 1;
}

.right-container {
    flex: 1;
    margin-left: 20px;
    background: rgb(253, 246, 227);
}

.tab-content-container {
    height: 100%;
}

.editor {
    font-size: var(--font-size);
    position: relative;
    width: 100%;
    height: 100%;
}

.tab-container {
    position: absolute;
    height: 18px;
    top: -18px;
    display: flex;
    padding-left: 30px;
}

.tab {
    height: 18px;
    line-height: 24px;
    font-size: 14px;
    background: lightblue;
    margin-right: 10px;
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s;
    font-family: Courier;
}

.tab:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

.run-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -50px;
    top: 0;
    background: #f13333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 1s;
}

.run-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    stroke: white;
    filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
}

.run-button:hover {
    background: #f15555;
}

.run-button:active {
    background: green;
    transition: background 0s;
}

.run-button > div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.run-button * {
    user-select: none;
}

.tab-content-container > div {
    display: none;
}

.button-pressed {
    background: orange;
    opacity: 1;
}

.console-output-tab {
    font-family: Courier;
    background: black;
    color: white;
    padding: 10px;
    height: 100%;
    overflow: scroll;
}

.output-line-container {
    display: flex;
    margin-bottom: 3px;
}

.line-number {
    width: 30px;
    text-align: right;
}

.output-line {
    background: #112211;
    margin-left: 5px;
    padding: 0 10px;
}

.output-line:hover {
    background: #114411;
}
